NODE_ENV = "development"

URL = "http://localhost:3000/" # final "/" !!important # also change REDIRECT_URI_SPOTIFY !
ADMIN_SPOTIFY_ID = "your-spotify-user-id"

# Spotify #

CLIENT_ID_SPOTIFY = "your-spotify-client-id"
CLIENT_SECRET_SPOTIFY = "your-spotify-client-secret"
REDIRECT_URI_SPOTIFY = "http://localhost:3000/callback"

# Firebase #

# content of the service account JSON key (Firebase console > Project settings > Service accounts)
FIREBASE_SERVICE_ACCOUNT='{}'
